html {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    text-transform: none;
}

a, a:visited {
    color: #0d1d41;
    text-decoration: underline;
}

    a:hover {
        color: #ccc;
        text-decoration: none;
    }

.header {
    background: #0d1d41;
    -webkit-background-size: 1px 44px;
    -moz-background-size: 1px 44px;
    -ms-background-size: 1px 44px;
    -o-background-size: 1px 44px;
    background-size: 1px 44px;
    width: 100%;
    color: #fff;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    border-bottom: solid 0px #eee;
    display: inline-block;
   
}

    .header .contHeader {
         height: 70px;
    }

    .header h1 {
        padding: 0;
        text-align: center;
        font-size: 20px;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
    }

    .header.large-header {
        height: auto;
        display: inline-block;
        line-height: auto;
    }

    .header.large-header .logo-header {
        max-width:40%;
        min-width:230px;
        margin:40px 0px 0px;
    }

.header-button {
    position: absolute;
    top: 0px;
    padding: 22px 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1em;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
}

    .header-button-left {
        left: 0;
    }

    .header-button-right {
        right: 0;
    }

    .logo-header {
        width: 60%;
        max-width: 170px;
        margin: 22px 0px 6px;
    }

    .arrow {
        border: solid #ffffff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        vertical-align: middle;
    }
        .header-button.arrow {
            margin: 30px 14px;
            padding: 6px;
        }

    .arrow.right {
        transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .arrow.left {
        transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    .arrow.up {
        transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .arrow.down {
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

.barraTitle {
    background: #ecedf2;
    padding: 8px 12px;
    text-transform: uppercase;
    color:#0d1d41;
    font-weight: bold;
    height: 20px;
}

.footer-button {
    position: absolute;
    bottom: 0;
    padding: 4px 0px 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1em;
    background: #0d1d41;
    /*height: 44px;
    line-height: 44px;*/
    width: 100%;
    color: #fff;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    text-align:center;
}

    /* LISTA LINGUE LOGIN PAGE */
    .footer-button ul.flag-list {
        list-style-type: none;
        margin:4px 0px;
        padding: 0px;
        overflow: hidden;
        background: #0d1d41;
        width: auto;
        display: inline-block;
        border-bottom: 0px;
    }

        .footer-button ul.flag-list li {
            float: left;
            border: none;
            background: #0d1d41;
            padding:8px 14px;
            width:auto;
            border-bottom: 1px solid #0d1d41;
        }
            .footer-button ul.flag-list li div.actual {
                border-bottom: 1px solid #ffffff;
            }

        .footer-button ul.flag-list li>a {
            background: #0d1d41;
            display: block;
            padding:2px 16px;
            text-align: center;
            text-decoration:none;
            color: #ffffff;
            width:auto;
        }

    /* LISTA CATALOGO HOME PAGE */
    .footer-button ul.catalog-list {
        list-style-type: none;
        margin:0px;
        padding: 0px;
        overflow: hidden;
        background: #0d1d41;
        width: 100%;
        display: block;
        border-bottom: 0px;
    }

        .footer-button ul.catalog-list li {
            border: none;
            background: #0d1d41;
            padding:0px;
            width:100%;
            display: block;
            text-align:center;
            border-bottom: 1px solid #545454;
            text-transform: uppercase;
            font-weight: bold;
        }

            .footer-button ul.catalog-list li div {
                padding:12px 0px;
            }

        .footer-button ul.catalog-list li:last-child {
            border-bottom: 0px solid #545454;
        }

        .footer-button ul.catalog-list li a, .footer-button ul.catalog-list li a:hover, .footer-button ul.catalog-list li a:visited {
            color: #fff;
            text-decoration: none;
        }


    /* LISTA ITEM */
    ul.category-list, ul.employee-list, ul.catalog-list-int, ul.news-list, ul.news-list-int  {
        list-style-type: none;
        margin:0px;
        padding: 0px;
        overflow: hidden;
        background: #ffffff;
        width: 100%;
        display: block;
        border-bottom: 0px;
    }

        ul.category-list li, ul.catalog-list-int li, ul.news-list li, ul.news-list-int li {
            border: none;
            background: #ffffff;
            padding:0px;
            width:100%;
            display: block;
            text-align:left;
            border-bottom: 1px solid #545454;
            text-transform: uppercase;
            font-weight: bold;
        }

            ul.category-list li div, ul.catalog-list-int li div, ul.news-list li .list-content, ul.news-list-int li div {
                padding: 16px 10px;
            }

                ul.news-list li .list-content {
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                }

            ul.category-list li div small, ul.catalog-list-int li small, ul.news-list-int li small, ul.news-list .list-content li {
                display: block;
                font-size: 11px;
                font-weight: normal;
            }

            ul.news-list-int li .data-news, ul.news-list li .data-news {
                display: block;
                font-size: 12px;
                margin-bottom: 4px;
                font-weight: normal;
                font-style:italic;
            }


        ul.dealers-list li, ul.officine-list li {
            border: none;
            background: #ffffff;
            padding:8px 6px;
            display: block;
            text-align:left;
            border-bottom: 1px solid #d4d4d4;
            text-transform: none;
            font-weight: normal;
        }

            ul.dealers-list li .nomeItem, ul.officine-list li .nomeItem {
                width:98%;
                font-weight: normal;
                text-transform: none;
            }

            ul.dealers-list li .addressItem {
                font-weight: bold;
                font-size: 13px;
                text-transform: uppercase;
                color: #cccccc;
            }

                ul.dealers-list.dealers li .addressItem {
                    color: #3399cc;
                } 
                ul.dealers-list.officine li .addressItem {
                    color: #ff9933;
                }

        ul.category-list li:last-child, ul.dealers-list li:last-child, ul.catalog-list-int li:last-child, ul.news-list-int li:last-child {
            /*border-bottom: 1px solid #545454;*/
        }

        ul.category-list li a, ul.category-list li a:hover, ul.category-list li a:visited, ul.news-list li a, ul.news-list li a:hover, ul.news-list li a:visited {
            color: #0d1d41;
            text-decoration: none;
        }

        ul.catalog-list-int li a, ul.catalog-list-int li a:hover, ul.catalog-list-int li a:visited, ul.news-list-int li a,ul.news-list-int li a:hover, ul.news-list-int li a:visited {
            color: #0d1d41;
            text-decoration: none;
        }

        ul.dealers-list li a, ul.dealers-list li a:hover, ul.dealers-list li a:visited {
            color: #0d1d41;
            text-decoration: none;
        }


.content-page {
    text-align:left;
    padding: 0px;
}

    .content-page.internal-page {
        padding: 10px;
    }

    .content-page h2, .formBlock h2 {
        text-align:left;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: bold;
        padding: 4px 10px 6px 0px;
    }

    .content-page a.buttonLink {
        color: #0d1d41;
        background:#ffffff;
        border: 2px solid #0d1d41;
        border-radius: 50%;
        width:54px;
        height: 44px;
        padding: 10px 0px 0px;
        margin-right: 6px;
        text-align:center;
        display: inline-block;
        vertical-align: top;
    }

        .content-page a.buttonLink img {
            width: 56%;
        }

    .content-page .userName {
        width:100%;
        font-size: 16px;
        font-weight: bold;
        padding: 2px 0px;
        color: #000000;
        margin-bottom: 5px;
    }

    .content-page .userRole {
        display: inline-block;
        text-transform: uppercase;
        font-size: 11px;
        padding: 5px 6px;
        background: #cccccc;
        color: #000000;
        border-radius: 3px;
    }

    .content-page .userRole.proprietario {
        background: #fab14a;
        color: #000000;
    }


/* LOGIN PAGE */

.loginBlock, .formBlock {
    text-align:center;
    padding: 10px 0px;
}

    .formBlock {
        text-align:left;
    }

    .formBlock label {
        font-size: 0.8rem;
        font-weight: bold;
        color: #333333;
        padding-left: 2%;
        margin-bottom: 4px;
        display: block;
    }

    .loginBlock input[type="email"], .loginBlock input[type="password"], .formBlock input[type="email"] {
        font-size:1rem;
        font-family: sans-serif;
        color: #333333;
        padding: 8px 10px;
        border: 0px;
        border-bottom: 1px solid #ddd;
        margin-bottom:10px;
        text-align: center;
    }

    .formBlock input[type="text"], .formBlock textarea, .formBlock input[type="password"] {
        padding: 8px 2%;
        border: 0px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        width: 96%;
        box-shadow: none;
        background: #ffffff;
        font-size:0.9rem;
        font-family: sans-serif;
        color: #333333;
    }

        .formBlock textarea { 
            height: 100px;
        }

        .formBlock input[type="text"]:disabled {
            background: #efefef;
        }

    .loginBlock button.rounded-button, .formBlock button.rounded-button, .homeBlock button.rounded-button, .itemBlock button.rounded-button {
        color: #fff;
        background: #0d1d41;
        text-transform: uppercase;
        font-size: 0.85rem;
        font-weight: bold;
        padding: 8px 16px;
        border: 0px solid #ddd;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .formBlock button.rounded-button.oro {
        background: #fab14a;
        width:96%;
    }



.containerModelli, .containerModelliUpd {
    width:100%;
    display: table;
}

    .containerModelli .element, .containerModelliUpd .elementUpd { display:table-row; height: 46px; }

    .formBlock input[type="text"].colModello {
        display:table-cell;
        width: 35%;
        margin-right: 12px;
    }

        .remove, #addModel, #addModelUpd {
            display:table-cell;
        }

        .btAddModel {
            display: inline-block;
            padding: 8px 10px;
            font-size: 14px;
            background-color: #0d1d41;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            color: #ffffff;
        }

        .btRemoveModel, .btRemoveModelUpd {
            display: inline-block;
            width: 26px;
            height: 26px;
            font-size: 22px;
            font-weight: bold;
            background-color: #ff0000;
            color: #ffffff;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
        }

    

#serviceMessageLogin {
    padding: 2px 4px;
    font-size:1rem;
    color: #666666;
    font-weight: bold;
}
    



/* END LOGIN PAGE */

/* HOME PAGE */

.homeBlock { 
    background-image: url(../img/imgBgHome.jpg);
    background-repeat: no-repeat;
    background-position: center 16%;
    text-align: center;
    padding: 5px;
    
}

    .homeBlock button.rounded-button, .homeBlock a.rounded-button {
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight:bold;
        padding: 10px 0px;
        text-align:center;
        background: #0d1d41;
        color:#fff;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .homeBlock button.rounded-button.oro, .homeBlock a.rounded-button.oro {
        background: #fab14a;
        color:#fff;
        width:97%;
        
    }

    .homeBlock button.rounded-button.half-size, .homeBlock a.rounded-button.half-size {
        width:48%;
        display:inline-block;
    }

/* END HOME PAGE */



/* ITEM PAGE */


h2#title-item {
    font-size: 1.8rem;
    line-height: 2rem;
}

    h2#title-news {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

h2#title-item small {
    font-size: 1.2rem;
    line-height: 1.4rem;
    float:right;
    padding-top: 8px;
}

#subtitle-item {
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}

#content-item {

}

    #content-item .img-item {
        width:100%;
        text-align:center;
    }

        #content-item .img-item #gallery-item {
            max-width:200px;
        }

    #content-item #text-item {

    }

    #content-item .data-news {
        display: block;
        font-size: 12px;
        font-weight: normal;
        font-style:italic;
    }


    button.rounded-button {
        font-size: 0.85rem;
        text-transform: uppercase;
        font-weight:bold;
        padding: 8px 10px;
        text-align:center;
        color: #fff;
        background: #0d1d41;
        border: 0px solid #ddd;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    }

    button.rounded-button.oro {
        background: #fab14a;
        width:97%;
    }

    button.rounded-button.tratto {
        background: #ffffff;
        border: 1px solid #0d1d41;
        color: #0d1d41;
        width:97%;
    }

    button.rounded-button.half-size {
        width:48%;
        display:inline-block;
        margin-right: 3px;
    }

    .labelRole {
        width: auto;
        display: inline-block;
        background: #666666;
        padding: 2px 6px;
        color: #ffffff;
        margin-right:4px;
    }

        .labelRole.Dealer {
            background: #3399cc;
            color: #ffffff;
        }

        .labelRole.Officina {
            background: #ff9933;
            color: #ffffff;
        }

/* END ITEM PAGE */

div.dealerTable {
    width:100%;
    display: table;
    height: 42px;
}

.search-bar {
    background: #fff;
    height: 32px;
    display: table-cell;
    padding: 8px 6px 0px 6px;
    margin-bottom: 4px;
    border-bottom: solid 1px #d4d4d4;
}

input[type="search"] {
    width:100%;
	border: none;
	border-radius: 4px;
	padding: 4px 6px 4px 6px;
	margin-top: 0px;
	font-size: 16px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5), 0 1px #fff;
	background: #eee;
    -webkit-appearance:none;
}

input[type="search"]:focus {
	outline: none;
	box-shadow: inset 0 2px 4px rgba(0,0,0,.5), 0 1px #fff;
}

    div.btListDealer,div.btListMap {
        display: table-cell;
        width:40px;
        height: 32px;
        border-bottom: solid 1px #d4d4d4;
        border-right: solid 1px #d4d4d4;
        text-align:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size:cover;

    }

        div.btListMap.active {
            background-image: url('../img/icon_filter_map.png');
        }

        div.btListMap {
            background-image: url('../img/icon_filter_map_disabled.png');
        }

        div.btListDealer.active  {
            background-image: url('../img/icon_filter_list.png');
        }

        div.btListDealer{
            background-image: url('../img/icon_filter_list_disabled.png');
        }

#dealers-map {
    display:block;
    width:100%;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    border-bottom: 0px solid #e0e0e0;
}

li {
    display: block;
    border-top: 1px solid #c0c0c0;
    padding: 10px;
}

/* MAIN MENU */

#main-menu {
    z-index: 1000; 
    position:fixed;
    width:100%; 
    top: 0; 
    right: -100%; 
    height: 100%; 
    color: #fff;
    -moz-transition-duration: .375s;
    -webkit-transition-duration: .375s;
    -o-transition-duration: .375s;
    display:table;
    background-color: rgba(0,0,0,0.1);
}

    #main-menu.hover-menu {
        right: 0%;
    }


#main-menu-close {
    display:table-cell;
    width:24px;
    height:24px;
    padding-left: 20%;
}

    #main-menu-close a.menuClose {
        display: inline-block;
        color: #ffffff;
        background: rgba(13,29,65,1); 
        text-decoration: none;
        text-align:center;
        font-size: 22px;
        padding:20px 12px;
        width:24px;
        height:24px;
    }

    #main-menu-close a.menuClose:before, #main-menu-close a.menuClose:after {
      position: absolute;
      content: ' ';
      height: 26px;
      width: 3px;
      background-color: #fff;
    }
    #main-menu-close a.menuClose:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #main-menu-close a.menuClose:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

#main-menu-dx {
    display:table-cell;
    background: rgba(13,29,65,1);
    padding: 18px 3% 6px;
    vertical-align: top;
}


    #main-menu-dx .userName {
        width:100%;
        display: block;
        font-size: 16px;
        padding: 2px 0px;
        color: #fff;
    }

    #main-menu-dx .userName a {
        color: #fff;
        text-decoration:none;
        width: 100%;
        display: block;
    }


    #main-menu-dx .userRole {
        display: block;
        width:100%;
        text-transform: uppercase;
        font-size: 11px;
        padding: 5px 0px;
        color: #cccccc;
    }

    #main-menu-dx .userRole.Proprietario {
        color: #fab14a;
    }

        #main-menu-dx .userRole a {
            color: #cccccc;
            text-decoration:none;
            width: 100%;
            display: block;
        }

        #main-menu-dx .userRole.Proprietario a {
            color: #fab14a;
            text-decoration:none;
            width: 100%;
            display: block;
        }


#main-menu-dx ul.menu-lista {
    /*height: 400px;*/
    overflow-y: auto;
    overflow-x: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
    margin-top: 5px;
    border-bottom: 0px solid #e0e0e0;
}

    #main-menu-dx ul.menu-lista li {
        display: block;
        border-top: 0px solid #ffffff;
        border-bottom: 1px solid #2f3544;
        padding: 0px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        width: auto;
    }

    #main-menu-dx ul.menu-lista li button {
        border: 0px;
        background: none;
        padding: 12px 0px;
        font: 400 14px sans-serif; /* system-ui */
        color: #fff;
        width: 100%;
        display: block;
        text-align: left;
    }


#main-menu-dx ul.menu-lista li>a {
    color: #000;
    display: block;
    padding: 2px 5px;
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: -10px 0;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 100%;
    -moz-background-size: 10px 100%;
    -ms-background-size: 10px 100%;
    -o-background-size: 10px 100%;
    background-size: 10px 100%;
    color: #fff;
}

#main-menu-dx ul.menu-lista li>a * {
    pointer-events: none;
}

    #main-menu-dx ul.menu-lista li>a {
        padding: 14px 10px;
    }


.button {
    font-family: sans-serif;
    -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background: none;
    background-color: #cccccc;
    filter: progid:DXImageTransform.Microsoft.gradient(none);
    background-color: #ededed;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 0px solid #dcdcdc;
    display: inline-block;
    color: #666666;
    font-size: 15px;
    text-decoration: none;
    text-shadow: none;
    height: auto;
    line-height: auto;
    padding:8px 14px;
    margin-top: 7px;
    margin-bottom: 7px;
}

    .button.bt-facebook {
        background-color: #3b66c4;color: #ffffff;
    }

    .button.bt-google {
        background-color: #cf4332;color: #ffffff;
    }

    .button.megaBt {
        background-color: #cf4332; color: #ffffff;
        margin: 0px; 
        padding: 8px 0px;
        font-size: 14px;
        font-weight: bold;
        width:49.3%;
        display:inline-block;
        text-transform: uppercase;
    }

.bottoneScelta {
    display: table;
    width: 100%;
    height: 32px;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

    .button.megaBt.officine:hover {
        background-color: #ff9933; color: #ffffff;
    }

    .button.megaBt.dealers:hover {
        background-color: #3399cc; color: #ffffff;
    }

    .button.megaBt.ospite:hover {
        background-color: #0d1d41; color: #ffffff;
    }

    .button.megaBt.proprietario:hover {
        background-color: #fab14a; color: #ffffff;
    }


        .button.megaBt.officine, .button.megaBt.dealers,.button.megaBt.ospite, .button.megaBt.proprietario {
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #cccccc) );
            background:-moz-linear-gradient( center top, #dfdfdf 5%, #cccccc 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#cccccc');
            background-color:#dfdfdf;
            display: table-cell;
            width:50%;
        }

        .button.megaBt.officine.active {
            background: #ff9933; color: #ffffff;
        }   

        .button.megaBt.dealers.active {
            background: #3399cc; color: #ffffff;
        }

        .button.megaBt.ospite.active {
            background: #0d1d41; color: #ffffff;
        }   

        .button.megaBt.proprietario.active {
            background: #fab14a; color: #ffffff;
        }

    .hamburger {
        background-color:#0d1d41;
        padding: 28px 10px 0px 4px; 
        text-align:center;
    }

    .hamburger > div {
        height: 3px;
        background-color:#ffffff;
        margin-bottom: 4px;
        width:25px;
    }



button:disabled,
button[disabled]{
  border: 0px solid #999999;
  background-color: #cccccc !important;
  color: #666666;
}

    ul.menu-lista li button:disabled, ul.menu-lista button[disabled] {
        border: 0px solid #999999;
        background-color: #0d1d41 !important;
        color: #999999 !important;
    }

h1 {
    font-size: 18px;
    padding: 20 0 0 0;
    margin: 0px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.employee-image {
    float:left;
    margin:10px;
    width:100px;
    height:100px;
}

.scrollStandard, .scrollDealers, .scrollRegistrazione {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 106px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

    .scrollDealers {
        top: 180px;
    }

    .scrollRegistrazione {
        top: 138px;
    }

li>a.tappable-active {
    color: #fff;
    background-color: #4286f5;
}

#serviceMessageRequest, #serviceMessageRegister, #serviceMessageProfile, #serviceMessageManuale {
    display: block;
    color: #ff9800;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.1rem;
}


#serviceMessageRegisterHome {
    display: block;
    color: #0d1d41;;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.4rem;
}


/* PRELOADER */
.preloader5 {
   display:inline-block;
   font-size:0px;
   padding:0px;
}
.preloader5 span {
   vertical-align:middle;
   border-radius:100%;
   background:#000000;
   display:inline-block;
   width:10px;
   height:10px;
   margin:3px 2px;
   -webkit-animation:preloader5 0.8s linear infinite alternate;
   animation:preloader5 0.8s linear infinite alternate;
}

    .preloader5.white span {
       background:#ffffff;
    }

.preloader5 span:nth-child(1) {
   -webkit-animation-delay:-0.8;
   animation-delay:-0.8s;
}
.preloader5 span:nth-child(2) {
   -webkit-animation-delay:-0.53333s;
   animation-delay:-0.53333s;
}
.preloader5 span:nth-child(3) {
   -webkit-animation-delay:-0.26666s;
   animation-delay:-0.26666s;
}
@keyframes preloader5 {
   from {transform: scale(0, 0);}
   to {transform: scale(1, 1);}
}
@-webkit-keyframes preloader5 {
   from {-webkit-transform: scale(0, 0);}
   to {-webkit-transform: scale(1, 1);}
}

/* IUBENDA POLICY */


#iubenda_policy h1 {
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

#iubenda_policy h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-align: left !important
}

    #iubenda_policy h2#purposes_data {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: normal;
        margin: 0px 0px 20px;
        padding: 0px;
        text-align: left !important
    }

#iubenda_policy h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0px 0px 10px;
    padding: 0px;
    text-align: left !important
}

#iubenda_policy p {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: normal;
    text-align: left;
}

    ul.for_boxes.cf, ul.for_boxes {
        background-color: #ffffff;
        border-bottom: 0px solid #ffffff;
    }

    ul.for_boxes.cf li {
        display: block;
        border-top: 0px solid #c0c0c0;
        padding: 5px;
    }

        ul.for_boxes.cf li {
            display: block;
            border-top: 0px solid #c0c0c0;
            padding: 5px;
        }